<main class="comparator">
  <section class="column left">
    <div class="selector-container">
      <app-anime-selector
        (animeSelected)="leftSelectedAnime.set($event)"
        (charactersList)="leftCharactersList.set($event)"
        (staffList)="leftStaffList.set($event)"
      />
    </div>
  </section>

  <section class="column center">
    <div class="selector-container">
      @if(leftSelectedAnime() && rightSelectedAnime() && availableLanguages().length > 0) {
        <div class="selector-label">Common dubbing language</div>
        <select [ngModel]="selectedLanguage()"
                (ngModelChange)="selectedLanguage.set($event)"
                name="language">
          @for (language of availableLanguages(); track language) {
            <option [value]="language">{{ language }}</option>
          }
        </select>
      }
    </div>
  </section>

  <section class="column right">
    <div class="selector-container">
      <app-anime-selector
        (animeSelected)="rightSelectedAnime.set($event)"
        (charactersList)="rightCharactersList.set($event)"
        (staffList)="rightStaffList.set($event)"
      />
    </div>
  </section>

  @if (leftSelectedAnime() && rightSelectedAnime()) {
    @if (availableLanguages().length > 0) {
      <app-voice-actor-comparison
        [leftCharacters]="leftCharactersList()"
        [rightCharacters]="rightCharactersList()"
        [language]="selectedLanguage()"
      />
    } @else {
      <div class="no-common">
        <div class="no-common-content">
          <strong>No common dubbing language</strong>
          <span>
            No common dubbing language found between the two selected animes.
          </span>
        </div>
      </div>
    }

    <app-staff-comparison
      [leftStaff]="leftStaffList()"
      [rightStaff]="rightStaffList()"
    />
  }

</main>